import(httr, RCurl, stringr, RJSONIO)
export(avatar)
export(dashboard)
export(follow)
export(followers)
export(info.blog)
export(like.post)
export(likes)
export(post)
export(post.delete)
export(post.edit)
export(post.reblog)
export(posts)
export(posts.draft)
export(posts.queue)
export(posts.submission)
export(tagged)
export(unfollow)
export(unlike.post)
export(user.following)
export(user.info)
export(user.likes)